/*ルート要素のフォントサイズを20pxにする*/
html {
    font-size: 20px;
  }

/*bodyのフォント指定*/
body {
  font-family: "Arial", "Meiryo", sans-serif;
}

/*テキストを全て中央揃え*/
body {text-align:center}

/*Googleフォント使用*/
h1 {
    font-family: "Josefin Sans", sans-serif;
    font-style: normal;
/*フォントサイズをルート要素の2倍*/
    font-size: 200%;
/*文字間を文字の1.2倍*/
    letter-spacing: 1.2em;
/*文字に影をつける*/
    text-shadow: 3px 3px 5px gray;
/*文字の下に3pxの実線*/
    border-bottom: solid 3px rgb(115, 115, 114);
}

/*「名前」～「血液型」までのP要素を太文字にする*/
div p{
  font-weight: bold;
}

/*「名前」「血液型」「好きな食べ物」の文字をピンクにする*/
.text-rgb{
   color : rgb(255, 192, 203);
}

/*「生年月日」「趣味」「プログラミングを始めた理由」の文字をスカイブルーにする*/
.text-skyblue{ 
  color : skyblue;
}